body {
  background-image: url(https://image.freepik.com/free-vector/blue-pink-sweet-candy-watercolor-background_70155-223.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
    color: #76323F;
    text-align: center;
  }

h2 {
    color: orange;
    text-align: center;
  } 

h3 {
  color: rgb(0, 138, 138);
  background-color: #ffc2ff;
}

img {
  float: right;
}

footer {
    color: darkslategray;
  }
  